/ai-applications-with-python-and-flask/first_app/venv
/ai-applications-with-python-and-flask/first_app/__pycache__

/ai-applications-with-python-and-flask/deploy_mathematics/venv
/ai-applications-with-python-and-flask/deploy_mathematics/__pycache__

/ai-applications-with-python-and-flask/financial_transactions/venv
/ai-applications-with-python-and-flask/financial_transactions/__pycache__

/ai-applications-with-python-and-flask/sentiment_analysis/venv
/ai-applications-with-python-and-flask/sentiment_analysis/__pycache__
