/ai-applications-with-python-and-flask/first_app/venv
/ai-applications-with-python-and-flask/first_app/__pycache__

/ai-applications-with-python-and-flask/deploy_mathematics/venv
/ai-applications-with-python-and-flask/deploy_mathematics/__pycache__

/ai-applications-with-python-and-flask/financial_transactions/venv
/ai-applications-with-python-and-flask/financial_transactions/__pycache__

/ai-applications-with-python-and-flask/sentiment_analysis/venv
/ai-applications-with-python-and-flask/sentiment_analysis/__pycache__


/building_genai-powered_applications_w_python/venv
/building_genai-powered_applications_w_python/image_captioning/venv

/building_genai-powered_applications_w_python/chat_bot/venv
